body{
    /* background-color: white;
 */
 background-image: url('./Images/grey-linen-texture-background_1053-253.jpg');
 background-repeat: repeat;
}
.title{
    color: rgb(224,63,51);
    text-align: center;
    padding-top: 100px;
}
.text{
    color: rgb(224,63,51);
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
}
.aboutTitle{
    color: rgb(224,63,51);
    text-align: center;
    padding: 150px 0;
    /* border: solid 3px rgb(224,63,51) ; */

}
.jumbotron-fluid{
    background-color: rgb(224,63,51);
}
.about{
    margin-top: 100px;
    width: 60%;
    /* border: solid black 3px */

}
.textFull{
    color: rgb(224,63,51);
    text-align: center;
    padding: 50px 0 ;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;


}
.Philosophy{
    color: white;
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    background-color:rgb(224,63,51);
    border: solid 3px rgb(224,63,51) ;
    border-radius: 10px;
}

.slogan{
    color:white;
    text-align: center;
}
.joinUs{
    background-color:rgb(224,63,51);
    color: white;
    margin: 0 auto;
    margin-top: 100px;
}
.joinUs:hover{
    color:rgb(224,63,51);
    background-color: white;
}
.jumbotron{
    margin: 0;
    border-radius: 0px;
    background-image: url('./Images/bg.jpg'); 
    background-size:cover;
    background-position: center center;
    padding:300px 0 300px 0;
}
.footbtn{
    color: rgb(224,63,51);
    background-color:rgb(247, 247, 247);

}
.list{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
}
li{
    list-style-type: none;
}
.subtitle{
    color: white;
    text-align: center;

    padding: 50px 0;
}
.piont{
    background-color:rgb(224,63,51);
margin: 50px auto ;
padding: 20px 0 ;
border-radius: 10px;
}
.iconcolor{
    color: white;
}
.prog{
    width: 75%;
    margin: 100px auto;
}
img{
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

.delay-1 {
    animation-delay: .50s;
    }
    .delay-2 {
    animation-delay: 1s;
    }
    .delay-3 {
    animation-delay: 1.5s;
    }
    .delay-4 {
    animation-delay: 2s;
    } 
    .delay-5 {
        animation-delay: 2.5s;
        }
@media only screen and (max-width: 760px) {
  .show{
      display: inline;
  }
  }